.nav{
    font:('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap') ;
    background-color: rgb(103, 103, 243);
    color: rgb(5, 5, 21);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 2em sans-serif;
    padding: 0 1rem;
}


.nav:active{
    background-color: whitesmoke;
}


.nav :hover {
    background-color: rgb(241, 246, 250);
}